<!DOCTYPE html>
<html lang="en" prefix="og:http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <title>{{ target }} &middot; Vaccinate Your Doctors &amp; Nurses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lazy doctors put {{ target }} at risk. We need to require flu shots for doctors &amp; nurses.">
    <meta name="author" content="Nick Semenkovich (@semenko) http://web.mit.edu/semenko/">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta property="og:type" content="website">
    {# We lump all the non-region targets e.g. Moms/Patients/etc. into one. Fix that. #}
    {%- if shortcode is sameas "" -%}
    <meta property="og:title" content="You're at risk from lazy doctors and nurses who get their patients sick.">
    <meta property="og:url" content="http://www.VaccinateYourDoctors.org/">
    {% else %}
    <meta property="og:title" content="{{ target }} is at risk from lazy doctors and nurses who get their patients sick.">
    <meta property="og:url" content="http://www.VaccinateYourDoctors.org/{{target}}/">
    {% endif %}
    <meta property="og:image" content="http:{{ static('CC_BY_NC-flickr_ericparker.jpg') }}">
    <script type="text/javascript">
        var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-32988270-4']);
        _gaq.push(['_setSiteSpeedSampleRate', 100]); _gaq.push(['_trackPageview']);
        window.onerror = function(m, f, l) { var err = [f, l, m].join(' : '); _gaq.push(['_trackEvent', 'Errors', 'App', err, null, true]); };
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {% block landing_page_code %}{% endblock %}
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 20px;
            padding-bottom: 60px;
        }
        .container {
            margin: 0 auto;
            max-width: 1000px;
        }
        .container > hr {
            height: 3px;
            background:#CCC;
            margin: 60px 0;
        }
        .blue-icon {
            color: #0070A9;
        }
        .centered {
            text-align: center;
        }
        /* Main marketing message and sign up button */
        .jumbotron {
            margin: 60px 0;
            text-align: center;
        }
        .jumbotron h1 {
            font-size: 90px;
            line-height: 1;
        }
        .jumbotron .lead {
            font-size: 24px;
            line-height: 1.25;
        }
        .jumbotron .btn {
            font-size: 21px;
            padding: 14px 24px;
        }
        /* Supporting marketing content */
        .marketing {
            margin: -20px 0;
        }
        .marketing p + h4 {
            margin-top: 28px;
        }
        /* Center align the text within the three columns below the carousel */
        .marketing .span4 {
            text-align: center;
        }
        .marketing h2 {
            font-weight: normal;
        }
        .marketing .span4 p {
            margin-left: 10px;
            margin-right: 10px;
        }
        .navbar.affix {
            top: 0;
        }
        /* Customize the navbar links to be fill the entire space of the .navbar */
        .navbar .navbar-inner {
            padding: 0;
        }
        .navbar .navbar-inner h4 {
            height:25px;
        }
        .navbar .nav {
            margin: 0;
            display: table;
            width: 100%;
        }
        .navbar .nav li {
            display: table-cell;
            width: 1%;
            float: none;
        }
        .navbar .nav li a {
            font-weight: bold;
            text-align: center;
            border-top: 1px solid #e5e5e5;
            border-left: 1px solid rgba(255,255,255,.75);
            border-right: 1px solid rgba(0,0,0,.1);
        }
        .navbar .nav li:first-child a {
            border-left: 0;
            border-radius: 3px 0 0 3px;
        }
        .navbar .nav li:last-child a {
            border-right: 0;
            border-radius: 0 3px 3px 0;
        }
        .unstyled a{
            color: #333;
        }
        .unstyled a:hover{
            color: #000;
            text-decoration: none;
        }
        /* Hack, fixed in 2.3? */
        @media (max-width: 767px) {
            body { padding-left:0; padding-right: 0;}
        }
        @media (max-width: 480px) {
            .jumbotron h1 {
                font-size: 60px;
            }
        }
    </style>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css" rel="stylesheet">
    <!--[if lte IE 6]><script src="//ie6-upgrade-warning.googlecode.com/svn/trunk/ie6/warning.js"></script><script>window.onload=function(){e("//ie6-upgrade-warning.googlecode.com/svn/trunk/ie6/")}</script><![endif]-->
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script><![endif]-->
    <!-- NOTE: Our favicon is CC-BY, derived from http://www.fatcow.com/free-icons //-->
    {#  <link rel="shortcut icon" href="/s/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/s/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/s/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/s/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/s/ico/apple-touch-icon-57-precomposed.png"> #}
</head>
<body data-spy="scroll" data-offset="120" data-target=".navbar-inner">
<section id="top"></section> <!-- Spacer for navbar highlights //-->
<div class="container">
    <div class="masthead" id="themasthead">
        <div class="navbar" id="thenavbar">
            <div class="navbar-inner">
                {% if shortcode is sameas "" %}
                <h4 class="centered muted">{{ target }}, Vaccinate Your Doctors!</h4>
                {% elif shortcode is sameas "DC" %}
                <h4 class="centered muted">Washington DC, Vaccinate Your Doctors!</h4>
                {% else %}
                <h4 class="centered muted"><img src="{{ static('states/' + shortcode.lower() + '.png') }}"> {{ target }}, Vaccinate Your Doctors!</h4>
                {% endif %}
                <div class="container">
                    <ul class="nav">
                        <li class="active"><a href="#top">The Problem</a></li>
                        <li><a href="#why-vaccinate">Why Vaccinate?</a></li>
                        <li><a href="#safest-hospitals">Safest Hospitals</a></li>
                        <li><a href="#get-involved">Get Involved</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- /.navbar -->
    </div>

    <!-- Make this a rotating experiment for some kinda' actions //-->
    <section id="home">
        <div class="jumbotron">
            <h1>Require Flu Shots<br>For Doctors</h1><br><br><br>
            <p class="lead">Thousands of patients catch the flu from their doctors and nurses. Why?</p>
            <p class="lead">Because some lazy doctors don't get their flu shots.</p><br><br>
            <a class="btn btn-large btn-primary" href="#why-vaccinate" id="learn-more"><i class="icon-user-md icon-white icon-large pull-left"></i> &nbsp; Learn Why &nbsp; <i class="icon-chevron-down icon-white"></i></a>
        </div>
    </section>

    <hr>

    <section id="why-vaccinate">
        <div class="marketing">
            <div class="centered">
                <h1>The Flu Kills Patients</h1>
                <p class="lead">Though you might only miss work, the flu is serious for vulnerable hospital patients.</p>
            </div><br><br>
            <div class="row-fluid">
                <div class="span4">
                    <!-- Flickr CC BY NC SA: http://www.flickr.com/photos/umhealthsystem/5485503555/ //-->
                    <img class="img-circle" src="{{ static('CC_BY_NC_SA-flickr_umhealthsystem.jpg') }}" alt="Newborns can be killed by the flu virus.">
                    <h2>Newborns</h2>
                    <p>Catching the flu in the hospital can kill infants. That's one reason why Ob-Gyns and midwives take the flu very seriously. </p>
                    {# <a href="http://www.immunizationforwomen.org/" target="_blank"> #}
                </div><!-- /.span4 -->
                <div class="span4">
                    <!-- Flickr CC BY SA: http://www.flickr.com/photos/manachar/553741993/ //-->
                    <img class="img-circle" src="{{ static('CC_BY_NC_SA-flickr_manachar.jpg') }}" alt="Cancer patients and asthma sufferers can be killed by the flu virus.">
                    <h2>Cancer Patients</h2>
                    <p>Chemotherapy drugs weaken the immune system, meaning the flu can kill otherwise strong and young people.</p>
                </div><!-- /.span4 -->
                <div class="span4">
                    <!-- Flickr CC BY NC: http://www.flickr.com/photos/ericparker/1404118094/ //-->
                    <img class="img-circle" src="{{ static('CC_BY_NC-flickr_ericparker.jpg') }}" alt="The elderly can be killed by the flu virus.">
                    <h2>The Elderly</h2>
                    <p>Our grandparents are the most likely to die from the flu, which is the cause of <u>1 in 20</u> deaths in people over 65.</p>
                </div><!-- /.span4 -->
            </div><!-- /.row -->
        </div>
    </section>

    <hr>

    <div class="marketing">
        <div class="centered">
            <h2>Benefits of Vaccination</h2>
            <p class="lead">We require many other vaccines for doctors &mdash; It's time to require flu shots, too!</p>
        </div><br><br>
        <div class="row-fluid">
            <div class="span4">
                <h4><i class="icon-money icon-large"></i> Saves Medical Costs</h4>
                Flu shots for health care workers make great business sense &mdash; they can save up to
                <a href="#" rel="popover" data-placement="top" title="Flu Shots Save Money" data-content="This number comes from a 2002 outbreak that overwhelmed a community hospital and had a total cost of $34,179.">$3,798 per patient</a>
                during a bad flu season.
            </div>
            <div class="span4">
                <h4><i class="icon-hospital icon-large"></i> Reduce Hospitalizations</h4>
                The flu causes
                <a href="#" rel="popover" data-placement="top" title="Shots Decrease Hospital Visits" data-content="This number comes from a 2004 report in the Journal of the American Medical Association (JAMA), showing the flu causes an average of 226,054 hospitalizations every year.">225,000 hospitalizations</a>
                each year. During peak flu times, emergency rooms are frequently overwhelmed.
            </div>
            <div class="span4">
                <h4><i class="icon-ambulance icon-large"></i> Prevent Deaths</h4>
                The flu causes <a href="#" rel="popover" data-placement="top" title="Flu Shots Prevent Patient Deaths" data-content="This number comes from a 2008 report in Critical Care Medicine.">41,000 deaths</a> every year, all of which are preventable.  Influenza is the sixth leading cause of death among US adults.
            </div>
        </div><br><br><br>
        <div class="row-fluid">

            <div class="span4">
                <h4><i class="icon-ok-circle icon-large"></i> Supported by Key Groups</h4>
                Requiring flu shots for doctors &amp; nurses is supported by
                <a href="#" rel="popover" data-placement="top" title="Wide Support for a Requirement" data-content="There are too many supporters to list! Scroll to the bottom of the page to see them all.">every major medical association</a>
                and hundreds of hospitals and businesses.
            </div>
            <div class="span4">
                <h4><i class="icon-user-md icon-large"></i> Other Vaccines</h4>
                We already require many shots for doctors &amp; nurses, including measles, mumps, rubella, and hepatitis B. It's time to include the flu.
            </div>
            <div class="span4">
                <h4><i class="icon-group icon-large"></i> Herd Immunity</h4>
                Currently, less than 50% of doctors and nurses get the vaccine &mdash; well below the 80&ndash;90% required for "herd immunity" to protect others.
            </div>
        </div>
    </div>

    <hr>

    <section id="safest-hospitals">
        <div class="marketing">
            <div class="centered">
                <h1>You Deserve the Safest Hospital</h1>
                {% if shortcode is sameas "" %}
                <p class="lead">Choose a hospital with a vaccine requirement</p>
                {% else %}
                <p class="lead">Choose a {{ target }} hospital with a vaccine requirement for their staff.</p>
                {% endif %}
            </div><br><br>
            <div class="row-fluid">
                <div class="span8 centered well well-small"><br><br>
                    <h1><i class="icon-hospital icon-4x"></i></h1>
                    {% if shortcode is sameas "" %}
                    <p class="lead">List of the safest hospitals coming soon!</p>
                    {% else %}
                    <p class="lead">List of {{ target }}'s safest hospitals coming soon!</p>
                    {% endif %}
                </div>
                <div class="span4">
                    <div class="centered">
                        {% if shortcode is sameas "" %}
                        <p class="lead">Current U.S. Flu Cases</p>
                        {% else %}
                        <p class="lead">{{ target }}'s Current Flu Cases</p>
                        {% endif %}
                        <iframe width="300" height="250" src="http://www.google.org/flutrends/embed/en_us/us/#US-{{ shortcode }}" frameborder="0"></iframe>
                    </div>
                </div><!-- /.span4 -->
            </div><!-- /.row -->
        </div>
    </section>

    <hr>

    <section id="get-involved">
        <div class="marketing">
            <div class="centered">
                {% if shortcode is sameas "" %}
                <h1>Get Involved in Your Community</h1>
                {% else %}
                <h1>Make a Difference for {{ target }}</h1>
                {% endif %}
                <p class="lead">Require Flu Shots for Health Care Workers</p>
            </div><br><br>
            <div class="row-fluid">
                <div class="span12">
                    <h3><i class="icon-phone icon-3x pull-left icon-border blue-icon"></i>Call Your Government</h3>
                    <p class="lead">The flu shot isn't a political issue &mdash; it's a <u>public health</u> issue! Ask your local and state representatives about requiring health care professionals to get the flu shot.</p>
                    {% if shortcode is sameas "" %}
                    <p class="lead pull-right"><a href="http://www.congress.org/congressorg/state/main/" onmousedown="_gaq.push(['_trackEvent','Advocate','FindRep','{{ target }}']);" target="_blank">E-mail your State Representative <i class="icon-share-alt"></i></a></p>
                    {% else %}
                    <p class="lead pull-right"><a href="http://www.congress.org/congressorg/issues/alert/?alertid=61115481&type=ML" onmousedown="_gaq.push(['_trackEvent','Advocate','FindRep','{{ target }}']);" target="_blank">E-mail your {{ target }} Representative <i class="icon-share-alt"></i></a></p>
                    {% endif %}
                </div>
            </div><!-- /.row -->
            <hr>
            <div class="row-fluid">
                <div class="span12">
                    <h3><i class="icon-user-md icon-3x pull-right icon-border blue-icon"></i>Ask Your Doctor or Nurse</h3>
                    <p class="lead">Check that your doctor &amp; nurse have gotten the flu vaccine before you make an appointment. Ask their secretaries too &mdash; anyone in the office could give you and loved ones the flu.</p>
                </div>
            </div><!-- /.row -->
            <hr>
            <div class="row-fluid">
                <div class="span12">
                    <h3><i class="icon-comments icon-3x pull-left icon-border blue-icon"></i>Spread the Word (Not the Flu!)</h3>
                    <p class="lead">Think your doctor should get the flu shot? Like us on <a href="https://www.facebook.com/VaccinateDoctors" onmousedown="_gaq.push(['_trackEvent','Social','Facebook','Blurb']);" target="_blank">Facebook</a>
                        or follow us on <a href="https://twitter.com/VaccinateDocs" onmousedown="_gaq.push(['_trackEvent','Social','Twitter','Blurb']);" target="_blank">Twitter</a>.
                    {# Have any questions? Let us know, at: <a href="mailto:team@vaccinatedoctors.org" target="_blank">team@VaccinateDoctors.org</a> #}
                    You can also help us grow by donating: <a class="btn btn-primary btn-small" href="https://spacebox.io/s/U5OqbbGDNP" target="_blank" onmousedown="_gaq.push(['_trackEvent','Donate','MidPage']);"><i class="icon-credit-card"></i> &nbsp; Donate $5</a></p>
                </div>
            </div><!-- /.row -->
            <hr>
            <div class="row-fluid">
                <div class="span12">
                    <h3><i class="icon-group icon-3x pull-right icon-border blue-icon"></i>Tell Your Friends &amp; Family</h3>
                    <p class="lead">Know someone battling cancer? Make sure their oncologist is flu-free. Have a pregnant friend? Remind them to check that their Ob-Gyn is vaccinated.</p>
                </div>
            </div><!-- /.row -->
        </div>
    </section>

    <hr>

    <div class="marketing">
        <div class="centered">
            <h2>Other Resources</h2>
        </div><br><br>
        <div class="row-fluid">
            <div class="span5 well well-small">
                <p class="lead centered">Supporters of Required Flu Shots<br>for Health Care Workers</p>
                <ul>
                    <li>American Academy of Pediatrics (AAP)</li>
                    <li>American Academy of Family Physicians (AAFP)</li>
                    <li>American College of Physicians (ACP)</li>
                    <li>American Hospital Association (AHA)</li>
                    <li>American Pharmacists Association (APhA)</li>
                    <li>American Public Health Association (APHA)</li>
                    <li>The Department of Defense</li>
                    <li>Infectious Diseases Society of America (IDSA)</li>
                    <li>National Business Group on Health</li>
                    <li>National Foundation for Infectious Diseases (NFID)</li>
                    <li>National Patient Safety Foundation (NPSF)</li>
                </ul>
            </div>
            <div class="span7">
                <div class="centered"><br><br><br>
                    <p class="lead">More resources coming soon.</p>
                </div>
            </div><!-- /.span4 -->
        </div><!-- /.row -->
    </div>

    <hr>

    <div class="footer" style="font-size:small">
        <span class="pull-right unstyled"><a href="https://www.facebook.com/VaccinateDoctors" onmousedown="_gaq.push(['_trackEvent','Social','Facebook','Footer']);" target="_blank"><i class="icon-facebook-sign icon-large"></i> Facebook</a> | <a href="https://twitter.com/VaccinateDocs" onmousedown="_gaq.push(['_trackEvent','Social','Twitter','Footer']);"  target="_blank"><i class="icon-twitter-sign icon-large"></i> Twitter</a></span>
        <p>The <a href="//www.vaccinatedoctors.org" target="_blank">Vaccinate Doctors Initiative</a> is run by medical students as part of <a href="//www.clindesk.org/" target="_blank">ClinDesk, Inc.</a> &amp; <a href="//www.whitecoatacademy.org" target="_blank">White Coat Academy</a></p>
        <p>Like what you see? Help us out and <a href="https://spacebox.io/s/U5OqbbGDNP" target="_blank" onmousedown="_gaq.push(['_trackEvent','Donate','Footer']);">donate $5</a>.</p>
        <span class="pull-right"><a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/us/deed.en_US" onmousedown="_gaq.push(['_trackEvent','License','Icon','Footer']);" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/us/80x15.png" /></a></span>
        <p>This site is licensed under a Creative Commons <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/us/deed.en_US" onmousedown="_gaq.push(['_trackEvent','License','Link','Footer']);" target="_blank">CC BY SA 3.0</a> license.</p>
    </div>

</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script>window.jQuery || (function(){ document.write('<script src="{{ static('js/jquery-1.9.0.min.js') }}">\x3C/script>'); _gaq.push(['_trackEvent', 'Errors', 'jQueryLoad']); })();</script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
<script>$('body').popover || (function(){ document.write('<script src="{{ static('js/bootstrap-2.2.2.min.js') }}">\x3C/script>'); _gaq.push(['_trackEvent', 'Errors', 'BootstrapLoad']); })();</script>
<script>
    {% if shortcode is not sameas "" %}
    var expires = new Date();
    expires.setTime(expires.getTime()+(365*24*60*60*1000));
    document.cookie = "region={{ shortcode }};expires=" + expires.toGMTString() + ";path=/";
    {% endif %}
    !function($) {
        $(function() {
            // Sexy smooth scroll
            $('.nav a').click(function(){
                $('html, body').animate({
                    scrollTop: $( $(this).attr('href') ).offset().top - 99
                }, 500);
                return false;
            });
            $('#learn-more').click(function(){
                $('html, body').animate({
                    scrollTop: $( $(this).attr('href') ).offset().top - 99
                }, 500);
                return false;
            });
            $('.navbar').affix({ offset: $('.navbar').position() });
            $('.masthead').height($(".masthead").height());
            $("a[rel=popover]").popover().click(function(e) { e.preventDefault(); });
            // Evil hack to resize navbar because something is broken.
            $(window).bind("resize", function(){ $('#thenavbar').css("width",$('#themasthead').width()); })
            $(window).bind("scroll", function(){ $('#thenavbar').css("width",$('#themasthead').width()); })
        });
    }(window.jQuery);
</script>
</body>
</html>
