<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Vaccinate Your Doctors &middot; The Flu Kills Patients</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Require the flu shot for doctors and nurses. Don't let your health care provider give you the flu.">
    <meta name="author" content="Nick Semenkovich (@semenko) http://web.mit.edu/semenko/">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <script type="text/javascript">
        var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-32988270-4']);
        _gaq.push(['_setSiteSpeedSampleRate', 100]); _gaq.push(['_trackPageview']);
        window.onerror = function(m, f, l) { var err = [f, l, m].join(' : '); _gaq.push(['_trackEvent', 'Errors', 'Landing', err, null, true]); };
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script type="text/javascript">
        if (!window.console) console = {log: function() {}};
        // Check these + DC?
        var region_to_url = {'AL':'alabama', 'AK':'alaska', 'AZ':'arizona', 'AR':'arkansas', 'CA':'california',
            'CO':'colorado', 'CT':'connecticut', 'DE':'delaware', 'DC':'washington-dc', 'FL':'florida', 'GA':'georgia',
            'HI':'hawaii', 'ID':'idaho', 'IL':'illinois', 'IN':'indiana', 'IA':'iowa', 'KS':'kansas', 'KT':'kentucky',
            'LA':'louisiana', 'ME':'maine', 'MD':'maryland', 'MA':'massachusetts', 'MI':'michigan', 'MN':'minnesota',
            'MS':'mississippi', 'MO':'missouri', 'MT':'montana', 'NE':'nebraska', 'NV':'nevada', 'NH':'new-hampshire',
            'NJ':'new-jersey', 'NM':'new-mexico', 'NY':'new-york', 'NC':'north-carolina', 'ND':'north-dakota',
            'OH':'ohio', 'OK':'oklahoma', 'OR':'oregon', 'PA':'pennsylvania', 'RI':'rhode-island',
            'SC':'south-carolina', 'SD':'south-dakota', 'TN':'tennessee', 'TX':'texas', 'UT':'utah', 'VT':'vermont',
            'VA':'virginia', 'WA':'washington', 'WV':'west-virginia', 'WI':'wisconsin', 'WY':'wyoming'};
        // Try to redirect.
        function tryRedirect() {
            if (region != null) {
                if (region_to_url.hasOwnProperty(region)) {
                    var expires = new Date();
                    expires.setTime(expires.getTime()+(365*24*60*60*1000));
                    document.cookie = "region=" + region + ";expires=" + expires.toGMTString();
                    window.location.pathname = "/" + region_to_url[region] + "/";
                } else {
                    // Odd region.
                    _gaq.push(['_trackEvent', 'InvRegion', region]);
                    console.warn('Invalid region: ' + region)
                }
            }
        }
        // Alternate geolocation, for if primary fails
        function secondary_gip(g2resp) {
            if (g2resp.statusCode == "OK") {
                if (g2resp.countryCode == "US") {
                    // Y U NO ANSI STANDARD 2 LETTER CODE?!?!?
                    // Loop over the existing region map (no sense in reversing, since only used once.)
                    var full_state = g2resp.regionName.toLowerCase();
                    for (var state_two_letter in region_to_url) {
                        if (region_to_url[state_two_letter] == full_state) {
                            region = state_two_letter;
                            break;
                        }
                    }
                    if (full_state == "district of columbia") { region = "DC"; }
                    tryRedirect();
                } else {
                    _gaq.push(['_trackEvent','NonUS-G2', g2resp.countryCode]);
                    console.log('Non-US-G2');
                }
            } else {
                _gaq.push(['_trackEvent', 'XHR-G2-Fail', g2resp.statusCode]);
                console.log('G2-FAIL');
            }
        }
        function altGeoLoc() {
            var tag = document.createElement("script");
            tag.src = "http://api.ipinfodb.com/v3/ip-city?key=2afb08c297f579b1083e7535bb7ecd8c0985150994271e4ee7cf06078c61bb79&format=json&callback=secondary_gip";
            document.getElementsByTagName("head")[0].appendChild(tag);
        }
        try {
            var region = null;
            var cIndex = document.cookie.indexOf("region=");
            if (cIndex != -1) {
                region = document.cookie.substring(cIndex + 7, cIndex + 9);
                tryRedirect();
            } else {
                // Where are we?
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "http://freegeoip.net/json/", true);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4) {
                        if (xhr.status == 200) {
                            var resp = JSON.parse(xhr.responseText);
                            if (resp.country_code == "US") {
                                region = resp.region_code;
                                tryRedirect();
                            } else {
                                // NON-US
                                _gaq.push(['_trackEvent','NonUS', resp.country_code]);
                                console.log('Non-US-G1');
                                altGeoLoc();
                            }
                        } else {
                            // Alternate geolocation?
                            _gaq.push(['_trackEvent', 'XHRFail', xhr.status]);
                            console.log('G1-FAIL');
                            altGeoLoc();
                        }
                    }
                };
                xhr.send();
            }
        } catch (err) {
            // Log a more serious failure.
            _gaq.push(['_trackEvent','Error','Serious', err]);
            console.log(err);
        }
        // If nothing happens after 2 seconds, call secondary GIP function.
        setTimeout(function(){ altGeoLoc(); }, 2000);
    </script>
</head>
<body>
<div id="hidden" style="display:none"><center><h1>Click On Your State</h1>
    <div style="height: 495px; width: 800px; "><map name="US_STATE_MAP" id="US_STATE_MAP">
        <area href="alabama" shape="poly" coords="537,310,556,377,518,382,518,395,506,391,504,312" alt="Alabama" title="Alabama" />
        <area href="alaska" shape="poly" coords="127,381,128,451,148,457,171,481,171,491,153,491,132,461,98,456,83,473,10,482,55,456,34,431,43,391,60,375,89,365" alt="Alaska" title="Alaska" />
        <area href="arizona" shape="poly" coords="110,330,159,362,191,368,204,271,134,258,131,272,123,272,117,290,126,304" alt="Arizona" title="Arizona" />
        <area href="arkansas" shape="poly" coords="409,289,408,337,416,350,460,350,472,311,479,295,467,290" alt="Arkansas" title="Arkansas" />
        <area href="california" shape="poly" coords="23,137,76,151,61,203,117,283,115,289,124,303,112,329,76,325,34,279,11,162" alt="California" title="California" />
        <area href="colorado" shape="poly" coords="214,196,308,207,304,276,206,267" alt="Colorado" title="Colorado" />
        <area href="connecticut" shape="poly" coords="683,154,683,172,705,163,703,150" alt="Connecticut" title="Connecticut" />
        <area href="delaware" shape="poly" coords="663,199,667,225,678,225,674,213" alt="Delaware" title="Delaware" />
        <area href="florida" shape="poly" coords="610,378,648,455,632,486,617,487,596,434,574,394,553,405,521,393,521,384,556,379,556,384" alt="Florida" title="Florida" />
        <area href="georgia" shape="poly" coords="537,307,572,304,614,348,609,380,557,381" alt="Georgia" title="Georgia" />
        <area href="hawaii" shape="poly" coords="183,423,180,461,216,491,283,492,286,465,244,424" alt="Hawaii" title="Hawaii" />
        <area href="idaho" shape="poly" coords="141,40,128,89,134,97,121,117,114,159,189,172,197,131,172,128,167,106,158,109,160,88,146,60,152,42" alt="Idaho" title="Idaho" />
        <area href="illinois" shape="poly" coords="463,184,450,219,470,243,467,254,486,275,496,274,505,243,501,189,493,174,461,179" alt="Illinois" title="Illinois" />
        <area href="indiana" shape="poly" coords="503,191,502,260,527,254,542,237,537,185" alt="Indiana" title="Indiana" />
        <area href="iowa" shape="poly" coords="385,164,379,179,391,215,446,215,454,204,461,188,451,165" alt="Iowa" title="Iowa" />
        <area href="kansas" shape="poly" coords="307,224,301,278,407,280,407,243,401,238,404,231,393,224" alt="Kansas" title="Kansas" />
        <area href="kentucky" shape="poly" coords="485,286,565,275,582,259,569,241,544,234,528,258,502,261" alt="Kentucky" title="Kentucky" />
        <area href="louisiana" shape="poly" coords="421,407,426,382,416,367,418,351,461,351,463,363,456,385,479,385,488,396,495,416,456,421" alt="Louisiana" title="Louisiana" />
        <area href="maine" shape="poly" coords="698,93,709,124,713,131,748,88,740,74,728,50,708,47" alt="Maine" title="Maine" />
        <area href="maryland" shape="poly" coords="611,211,611,219,631,212,649,222,648,229,658,232,666,247,677,224,665,224,662,202" alt="Maryland" title="Maryland" />
        <area href="massachusetts" shape="poly" coords="681,142,682,155,708,150,715,156,733,158,733,143,713,134" alt="Massachusetts" title="Massachusetts" />
        <area href="michigan" shape="poly" coords="454,95,463,109,497,124,511,187,554,183,562,159,540,107,485,71" alt="Michigan" title="Michigan" />
        <area href="minnesota" shape="poly" coords="374,66,380,119,378,123,385,130,385,164,451,164,451,155,428,140,426,125,434,105,464,80,403,72,399,59" alt="Minnesota" title="Minnesota" />
        <area href="mississippi" shape="poly" coords="474,314,503,311,506,394,488,395,478,383,456,383,464,356,463,346" alt="Mississippi" title="Mississippi" />
        <area href="missouri" shape="poly" coords="392,216,393,224,406,240,407,288,472,287,468,295,476,295,486,279,466,254,469,245,447,218" alt="Missouri" title="Missouri" />
        <area href="montana" shape="poly" coords="154,41,149,58,162,87,159,106,167,103,174,127,196,128,198,123,285,132,293,63" alt="Montana" title="Montana" />
        <area href="nebraska" shape="poly" coords="284,169,281,204,307,206,307,221,396,224,384,181,355,174" alt="Nebraska" title="Nebraska" />
        <area href="nevada" shape="poly" coords="77,152,150,167,130,270,122,270,118,285,61,204" alt="Nevada" title="Nevada" />
        <area href="new-hampshire" shape="poly" coords="692,95,688,140,711,134,697,91" alt="New Hampshire" title="New Hampshire" />
        <area href="new-jersey" shape="poly" coords="668,173,667,188,673,193,665,200,675,212,687,187,680,182,680,176" alt="New Jersey" title="New Jersey" />
        <area href="new-mexico" shape="poly" coords="204,267,290,275,281,364,204,360,202,370,189,366" alt="New Mexico" title="New Mexico" />
        <area href="new-york" shape="poly" coords="607,148,597,171,658,159,667,170,680,174,680,180,687,184,707,169,685,171,682,154,682,139,670,103,648,107,629,139" alt="New York" title="New York" />
        <area href="north-carolina" shape="poly" coords="589,274,556,305,597,298,624,300,641,313,682,278,670,258" alt="North Carolina" title="North Carolina" />
        <area href="north-dakota" shape="poly" coords="293,63,288,115,380,120,373,67" alt="North Dakota" title="North Dakota" />
        <area href="ohio" shape="poly" coords="545,234,567,238,572,244,596,203,592,178,563,187,553,184,538,186,542,229" alt="Ohio" title="Ohio" />
        <area href="oklahoma" shape="poly" coords="290,276,407,281,412,340,359,331,331,324,331,290,288,288" alt="Oklahoma" title="Oklahoma" />
        <area href="oregon" shape="poly" coords="50,66,22,121,22,135,113,157,118,114,131,98,125,87,83,87,61,81,60,69" alt="Oregon" title="Oregon" />
        <area href="pennsylvania" shape="poly" coords="591,175,597,213,660,200,671,192,665,186,667,171,658,159" alt="Pennsylvania" title="Pennsylvania" />
        <area href="rhode-island" shape="poly" coords="708,149,713,156,707,163,702,153" alt="Rhode Island" title="Rhode Island" />
        <area href="south-carolina" shape="poly" coords="572,303,616,349,638,314,625,301,597,297" alt="South Carolina" title="South Carolina" />
        <area href="south-dakota" shape="poly" coords="289,115,380,120,377,124,383,131,383,163,380,179,355,173,313,169,285,168,286,152,286,134" alt="South Dakota" title="South Dakota" />
        <area href="tennessee" shape="poly" coords="475,312,557,305,588,273,480,287" alt="Tennessee" title="Tennessee" />
        <area href="texas" shape="poly" coords="289,285,281,366,229,360,255,405,276,418,290,404,307,407,340,467,367,477,367,444,423,408,426,381,416,344,403,337,331,325,330,288" alt="Texas" title="Texas" />
        <area href="utah" shape="poly" coords="152,168,190,174,187,194,214,195,204,268,135,256" alt="Utah" title="Utah" />
        <area href="vermont" shape="poly" coords="670,103,681,140,688,140,691,100" alt="Vermont" title="Vermont" />
        <area href="virginia" shape="poly" coords="582,259,565,276,670,257,658,234,647,230,649,223,638,215,628,215,610,231,606,254" alt="Virginia" title="Virginia" />
        <area href="washington" shape="poly" coords="48,63,61,71,61,79,93,85,132,91,140,41,73,21,50,28" alt="Washington" title="Washington" />
        <area href="west-virginia" shape="poly" coords="637,217,628,216,620,232,611,230,607,248,598,257,584,260,575,248,579,229,592,219,594,201,597,214,612,212,612,219,628,211,635,212" alt="West Virginia" title="West Virginia" />
        <area href="wisconsin" shape="poly" coords="436,108,434,117,428,122,428,141,449,154,450,175,458,180,494,175,501,130,495,128,488,119,457,105,449,100" alt="Wisconsin" title="Wisconsin" />
        <area href="wyoming" shape="poly" coords="199,123,186,194,281,204,286,131" alt="Wyoming" title="Wyoming" />
        <area href="delaware" shape="rect" coords="737,227,795,242" alt="Delaware" title="Delaware" />
        <area href="maryland" shape="rect" coords="736,243,794,263" alt="Maryland" title="Maryland" />
        <area href="new-hampshire" shape="rect" coords="563,28,655,50" alt="New Hampshire" title="New Hampshire" />
        <area href="new-jersey" shape="rect" coords="723,204,793,224" alt="New Jersey" title="New Jersey" />
        <area href="massachusetts" shape="rect" coords="567,73,646,94" alt="Massachusetts" title="Massachusetts" />
        <area href="connecticut" shape="rect" coords="727,185,797,203" alt="Connecticut" title="Connecticut" />
        <area href="west-virginia" shape="rect" coords="716,284,795,301" alt="West Virginia" title="West Virginia" />
        <area href="vermont" shape="rect" coords="607,53,651,72" alt="Vermont" title="Vermont" />
        <area href="rhode-island" shape="rect" coords="720,163,796,184" alt="Rhode Island" title="Rhode Island" /></map><img alt="" src="{{ static('wiki_map_CC_BY.png') }}" width="800" height="495" usemap="#US_STATE_MAP" /></div>
</center></div>
<script>
    setTimeout(function(){ document.getElementById("hidden").style.display = "block";}, 3000);
</script>
</body>
</html>