{% extends "_base.html" %}
{% block landing_page_code %}
<script type="text/javascript">
    var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-32988270-4']);
    window.onerror = function(m, f, l) { var err = [f, l, m].join(' : '); _gaq.push(['_trackEvent', 'Errors', 'App', err, null, true]); };
    if (!window.console) { console = {log: function() {}}; }
    var region_to_url = {'AL':'alabama', 'AK':'alaska', 'AZ':'arizona', 'AR':'arkansas', 'CA':'california',
        'CO':'colorado', 'CT':'connecticut', 'DE':'delaware', 'DC':'washington-dc', 'FL':'florida', 'GA':'georgia',
        'HI':'hawaii', 'ID':'idaho', 'IL':'illinois', 'IN':'indiana', 'IA':'iowa', 'KS':'kansas', 'KT':'kentucky',
        'LA':'louisiana', 'ME':'maine', 'MD':'maryland', 'MA':'massachusetts', 'MI':'michigan', 'MN':'minnesota',
        'MS':'mississippi', 'MO':'missouri', 'MT':'montana', 'NE':'nebraska', 'NV':'nevada', 'NH':'new-hampshire',
        'NJ':'new-jersey', 'NM':'new-mexico', 'NY':'new-york', 'NC':'north-carolina', 'ND':'north-dakota',
        'OH':'ohio', 'OK':'oklahoma', 'OR':'oregon', 'PA':'pennsylvania', 'RI':'rhode-island',
        'SC':'south-carolina', 'SD':'south-dakota', 'TN':'tennessee', 'TX':'texas', 'UT':'utah', 'VT':'vermont',
        'VA':'virginia', 'WA':'washington', 'WV':'west-virginia', 'WI':'wisconsin', 'WY':'wyoming'};
    // Try to redirect.
    function tryRedirect() {
        if (region != null) {
            if (region_to_url.hasOwnProperty(region)) {
                var expires = new Date();
                expires.setTime(expires.getTime()+(365*24*60*60*1000));
                document.cookie = "region=" + region + ";expires=" + expires.toGMTString();
                window.location.pathname = "/" + region_to_url[region] + "/";
            } else {
                // Odd region.
                _gaq.push(['_trackEvent', 'InvRegion', region]);
                console.warn('Invalid region: ' + region);
            }
        }
    }
    // Primary geolocation callback
    function primary_gip(resp) {
        if (resp.statusCode == "OK") {
            if (resp.countryCode == "US") {
                // Y U NO ANSI STANDARD 2 LETTER CODE?!?!?
                // Loop over the existing region map (no sense in reversing, since only used once.)
                var full_state = resp.regionName.toLowerCase();
                for (var state_two_letter in region_to_url) {
                    if (region_to_url[state_two_letter] == full_state) {
                        region = state_two_letter;
                        break;
                    }
                }
                if (full_state == "district of columbia") { region = "DC"; }
                tryRedirect();
            } else {
                _gaq.push(['_trackEvent','NonUS-G1', resp.countryCode]);
                console.log('Non-US-G1');
            }
        } else {
            _gaq.push(['_trackEvent', 'G1-Fail', resp.statusCode]);
            secondaryGeoLoc();
            console.log('G1-FAIL');
        }
    }
    // Call primary Geolocation service
    function primaryGeoLoc() {
        var tag = document.createElement("script");
        tag.src = "xhttp://api.ipinfodb.com/v3/ip-city?key=2afb08c297f579b1083e7535bb7ecd8c0985150994271e4ee7cf06078c61bb79&format=json&callback=primary_gip";
        document.getElementsByTagName("head")[0].appendChild(tag);
    }
    // Secondary geolocation callback.
    function secondary_gip(resp) {
        try {
            if (resp.country_code == "US") {
                region = resp.region_code;
                tryRedirect();
            } else {
                _gaq.push(['_trackEvent','NonUS-G2', resp.countryCode]);
                console.log('Non-US-G2');
            }
        } catch (err) {
            _gaq.push(['_trackEvent', 'G2-Fail', resp]);
            console.log('G2-FAIL');
        }
    }
    function secondaryGeoLoc() {
        var tag = document.createElement("script");
        tag.src = "xhttp://freegeoip.net/json/?callback=secondary_gip";
        document.getElementsByTagName("head")[0].appendChild(tag);
    }
    // On landing, read cookie and redirect, otherwise geolocate.
    var region = null;
    var cIndex = document.cookie.indexOf("region=");
    if (cIndex != -1) {
        // We have a cookie! Try to redirect.
        region = document.cookie.substring(cIndex + 7, cIndex + 9);
        tryRedirect();
    } else {
        // Call Primary Geolocation
        primaryGeoLoc();
    }
    // If nothing happens after 3 seconds, start secondary geolocation.
    setTimeout(function(){ secondaryGeoLoc(); _gaq.push(['_trackEvent', 'GeoLocTime', 'G1-Timeout']); }, 3000);
</script>
{% endblock %}